html {
    font-size: 20px;
    background: url('../images/background.jpg') bottom center;
    background-size: cover;
  }
    
   body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 251, 251);
    text-shadow: #000000 0 0 5px;
  } 
  
.main-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 244);
    height: 500px;
    width: 500px;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0, 0, 0) 0 0 5px;
  }
  
.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.color-element {
  display: flex;
  flex-direction: row;
  transition: all .3s ease;
  height: 15px;
  width: 15px;
  margin: 2px;
  box-shadow: black 0 0 2px;
}

.color-element-pick {
  transform: scale(1.5);
  box-shadow: 0 0 5px #6e6e6e;
}

.draw-option {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  margin: 3px;
}

.row {
    display: flex; 
    flex-direction: row;
}

.square {
    display: flex;
}

h1 {
  text-align: center;
}

.button {
  height: 20px;
  width: 70px;
  margin-top: 10px;
  border-radius: 2px;
  color: rgb(129, 128, 128);
  border: 0;
  box-shadow: black 0 0 5px;
  text-align: center;
  transition: all .3s ease;
  background-color: black;
  opacity: 0.9;
}

input {
  display: flex;
  margin: 1px;
}

.slidecontainer {
  display: flex;
  align-items: center;
  width: 494px;
  padding: 3px;
  padding-top: 1px;
  padding-bottom: 0.7px;
  margin: auto;
  margin-bottom: 5px;
  box-shadow: black 0 0 5px;
  background: rgb(245, 244, 244); 
}

.slider {
  
  appearance: none;
  width: 100%;
  height: 15px;
  background: rgb(245, 244, 244); 
  outline: none;
  opacity: 0.8; 
}
.footer {
  display: flex;
  margin: 20px;
  margin-bottom: 0;
  align-items: center;
  align-self: center;
  justify-content: center;
}