html {
    font-size: 10px;
    background: url('../images/background.jpg') bottom center;
    background-size: cover;
  }
    
   body {
    font-family: sans-serif;
    padding: 30px;
  } 
  
.main-container {
    background-color: #FAEBD7;
    height: 500px;
    width: 500px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.row {
    display: flex; 
    flex-direction: row;
}

.square {
    display: flex;
    /* border: 1px solid black; */
}

h1 {
  text-align: center;
}

button {
  margin-top: 10px;
}
